@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&amp;subset=cyrillic);

/* @font-face надо посмотреть еще раз про подключение шрифтов */

@import "bootstrap.min.css";
/*@import "bootstrap.solar.min.css";*/

body {
  font-family: 'PT Sans', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Caption', serif;
  font-weight: bold;
}
